/* Global */
:root {
  /* Color */
  --color-black: #030303;
  --color-light-black: #333;
  --color-gray: #999999;
  --color-light-gray: #efefef;
  --color-bar-gray: #ccc;
  --color-white: #ffffff;
  --color-green: #1aaf82;
  --color-bluegreen: #00a497;

  /* Font size */
  --font-huge: 30px;
  --font-x-large: 26px;
  --font-large: 22px;
  --font-medium: 20px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-x-samll: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 28px;

  /* Animation */
  --animation-duration: 0.25s;
}

/* Universial tags */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
  height: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-huge);
  font-weight: var(--weight-semi-bold);
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

p {
  font-size: var(--font-small);
}

a {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-green);
}

/* Section common */
.section {
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1150px;
  margin: auto;
}

/* Text common */
.text {
  margin: auto;
  max-width: 777px;
  text-align: center;
}

/* Button common */
.button {
  background-color: var(--color-green);
  color: white;
  padding: 10px 30px;
  font-size: var(--font-small);
  border-radius: var(--size-border-radius);
}

.button:hover {
  background-color: var(--color-white);
  color: var(--color-green);
  transition: all var(--animation-duration) ease;
}

/* Navbar */
#navbar {
  background-color: var(--color-black);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 15px;
}

.navbar__logo img {
  width: 80px;
  height: 46px;
}

.navbar__menu li {
  display: none;
  font-size: var(--font-regular);
  color: var(--color-white);
}

.navbar__toggle-btn i {
  color: var(--color-white);
  font-size: 35px;
}

/* Home */
#home {
  background: url(/images/banner.jpg) center/cover no-repeat;
  color: var(--color-white);
  padding-bottom: 25px;
}

.home {
  padding: 170px 15px;
  margin: auto;
}

.home > h1 {
  margin-bottom: 25px;
}

.home > h2 {
  margin-bottom: 25px;
}

.home__buttons {
  display: flex;
  justify-content: flex-start;
}

.home__buttons .button {
  padding: 10px 30px;
  margin-right: 10px;
  font-size: var(--font-small);
  border-radius: var(--size-border-radius);
}

.home__buttons .button:hover {
  background-color: var(--color-white);
  color: var(--color-green);
  transition: all var(--animation-duration) ease;
}

.home__circles {
  text-align: center;
}

.home__circles .circle {
  display: inline-block;
  background-color: var(--color-green);
  width: 14px;
  height: 14px;
  margin: 0 7px;
  border-radius: 50%;
}

.home__circles .circle:hover {
  background-color: var(--color-white);
  color: var(--color-green);
  transition: all var(--animation-duration) ease;
}

/* Intro */
#intro {
  padding: 45px 0;
}

.intro__text > h1,
.intro__text > p {
  margin-bottom: 30px;
  color: var(--color-light-black);
}

.intro__boxes {
  display: flex;
  justify-content: center;
}

.intro__boxes .box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 255px;
  height: 450px;
  padding: 0 15px;
  margin: 0 15px;
  background-color: var(--color-bluegreen);
  color: var(--color-white);
}

.box__icon > i {
  font-size: 90px;
}

.intro__boxes .box:hover .box__icon {
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;
}

.box__text {
  position: absolute;
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;
}

.intro__boxes .box:hover .box__text {
  opacity: 1;
}

.box__text > h3,
.box__text > p {
  margin-bottom: 15px;
}

.box__arrow {
  font-size: 25px;
  transform: translateX(-10px);
  transition: all var(--animation-duration) ease-in-out;
}

.intro__boxes .box:hover .box__arrow {
  transform: translateX(0px);
}

/* About */
#about {
  position: relative;
  background-color: var(--color-light-gray);
}

#about::before {
  background: url(/images/improve-business.jpg) no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.about {
  display: flex;
  justify-content: center;
  padding: 45px 0;
}

.about__boxes {
  display: flex;
  justify-content: center;
}

.about__box {
  padding: 0 15px;
  min-width: 528px;
}

.about__text {
  max-width: 528px;
  padding: 0 12px;
  color: var(--color-light-black);
}

.about__text > h1,
.about__text > p {
  margin-bottom: 40px;
}

.about__text > h1 {
  font-size: var(--font-x-large);
}

.about__button:hover {
  border: solid 1px;
}

/* Video */
#video {
  background: url(/images/video.jpg) center/cover no-repeat;
  width: 100%;
  height: auto;
  padding: 80px;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

.video > h1,
.video > p {
  margin-bottom: 15px;
}

.video__play {
  font-size: 52px;
  background-color: transparent;
}

.video__play:hover {
  color: var(--color-green);
  transition: all var(--animation-duration) ease;
}

/* Work */
#work {
  padding-top: 45px;
}
.work__text h1 {
  font-size: var(--font-x-large);
  font-weight: var(--weight-semi-bold);
  margin-bottom: 30px;
}

.work__text p {
  margin-bottom: 30px;
  font-weight: var(--font-regular);
  color: var(--color-light-black);
}

.work__categories {
  display: flex;
  justify-content: center;
  font-weight: var(--font-regular);
  color: var(--color-light-black);
  padding-bottom: 30px;
}

.work__categories li {
  padding: 0 20px;
}

.work__categories li.active,
.work__categories li:hover {
  color: var(--color-green);
}

.work__contents {
  display: flex;
  flex-direction: column;
  max-width: 4558px;
  margin: auto;
}

.three__contents {
  display: flex;
  justify-content: center;
}

.content {
  position: relative;
}

.content__image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content__image img {
  transition: all var(--animation-duration) ease-in-out;
}

.content:hover img {
  transform: scale(1.1);
}

.content__image .img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.content__description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: transparent;
}

.content:hover .content__description {
  background-color: rgba(0, 0, 0, 0.37);
  color: var(--color-white);
}

.content__description h1,
.content__description p {
  margin-bottom: 20px;
  text-align: center;
}

.content__description h1 {
  font-size: var(--font-x-large);
}

.content__arrow {
  font-size: 36px;
}

.content__arrow {
  transform: translateX(-10px);
  transition: all var(--animation-duration) ease-in-out;
}

.content:hover .content__arrow {
  transform: translateX(0px);
}

.content__arrow:hover {
  color: var(--color-green);
}

/* Contact */
#contact {
  padding: 70px 0;
}

#contact h1 {
  font-size: x-large;
  font-weight: var(--weight-regular);
  margin-bottom: 30px;
  text-align: center;
}

.contact {
  padding: 0 15px;
}

.contact__box {
  display: flex;
}

.not_empty {
}

.contact__left {
  padding: 40px;
  width: 60%;
}

.contact__left p {
  font-size: var(--font-small);
  text-align: left;
  margin-bottom: 45px;
}

.input__frame {
  position: relative;
  display: inline-block;
  margin: 0 0 30px 0;
  width: 47%;
  height: 16px;
}

.input__frame-left {
  margin-right: 20px;
}

.message__frame {
  position: relative;
  display: block;
  width: 99%;
  padding-bottom: 40px;
  margin-left: 4px;
}

.input__frame input,
.message__frame .message {
  width: 100%;
  padding: 3px 0 0 0;
  border: 0;
  background: transparent;
  border-bottom: 1px solid var(--color-gray);
  font: var(--weight-regular) var(--font-regular);
}

.input__frame label,
.message__frame label {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  padding: 0;
  margin-bottom: 8px;
  font-size: var(--font-x-samll);
  font-weight: var(--weight-regular);
  color: var(--color-gray);
  transition: top var(--animation-duration) ease-in-out;
}

.contact__write input:focus,
.contact__write .message:focus {
  outline: 0;
  border-bottom: 1px solid var(--color-bluegreen);
}

.contact__write input:focus ~ label,
.contact__write .message:focus ~ label {
  top: -18px;
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  color: var(--color-bluegreen);
}

.contact__button:hover {
  border: solid 1px;
}

.contact__right {
  position: relative;
  width: 40%;
  padding: 40px;
  text-align: left;
}

.contact__right h2 {
  font-size: var(--font-regular);
  font-weight: bold;
  margin-bottom: 50px;
}

.contact__right .detail {
  display: flex;
  margin-bottom: 20px;
}

.detail__icon {
  width: 12%;
  display: inline-block;
  font-size: 30px;
}

.detail__text .text__title {
  display: block;
  margin-bottom: 8px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
}

.detail__text .text__content {
  margin-bottom: 16px;
}

.detail__text .hover:hover {
  color: var(--color-bluegreen);
}

.contact__right::after {
  position: absolute;
  content: "";
  left: -1%;
  top: 10%;
  width: 1px;
  height: 80%;
  background: var(--color-bar-gray);
}
