/* Global */
:root {
  /* Color */
  --color-black: #030303;
  --color-gray: #333;
  --color-light-gray: #efefef;
  --color-white: #ffffff;
  --color-green: #1aaf82;
  --color-bluegreen: #00a497;

  /* Font size */
  --font-huge: 30px;
  --font-x-large: 26px;
  --font-large: 22px;
  --font-medium: 20px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-x-samll: 14px;
  --font-micro: 12;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 28px;

  /* Animation */
  --animation-duration: 0.25s;
}

/* Universial tags */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
  height: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-huge);
  font-weight: var(--weight-semi-bold);
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

p {
  font-size: var(--font-small);
}

a {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-green);
}

/* Section common */
.section {
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Button common */
.button {
  background-color: var(--color-bluegreen);
  color: white;
  padding: 10px 30px;
  font-size: var(--font-small);
  border-radius: var(--size-border-radius);
}

.button:hover {
  background-color: var(--color-white);
  color: var(--color-green);
  transition: all var(--animation-duration) ease;
}

/* Navbar */
#navbar {
  background-color: var(--color-black);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 15px;
}

.navbar__logo img {
  width: 80px;
  height: 46px;
}

.navbar__menu li {
  display: none;
  font-size: var(--font-regular);
  color: var(--color-white);
}

.navbar__toggle-btn i {
  color: var(--color-white);
  font-size: 35px;
}

/* Home */
#home {
  background: url(/images/banner.jpg) center/cover no-repeat;
  color: var(--color-white);
  padding-bottom: 54px;
}

.home {
  padding: 0 15px;
  margin: auto;
}

.home > h1 {
  margin-bottom: 25px;
}

.home > h2 {
  margin-bottom: 25px;
}

.home__buttons {
  display: flex;
  justify-content: flex-start;
}

.home__buttons .button {
  padding: 10px 30px;
  margin-right: 10px;
  font-size: var(--font-small);
  border-radius: var(--size-border-radius);
}

.home__buttons .button:hover {
  background-color: var(--color-white);
  color: var(--color-green);
  transition: all var(--animation-duration) ease;
}

/* Intro */
#intro {
  text-align: center;
  padding: 45px 0;
}

.intro__text {
  margin: auto;
  max-width: 777px;
}

.intro__text > h1,
.intro__text > p {
  margin-bottom: 30px;
  color: var(--color-gray);
}

.intro__boxes {
  display: flex;
  justify-content: center;
}

.intro__boxes .box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 255px;
  height: 450px;
  padding: 0 15px;
  margin: 0 15px;
  background-color: var(--color-bluegreen);
  color: var(--color-white);
}

.box__icon > i {
  font-size: 90px;
}

.intro__boxes .box:hover .box__icon {
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;
}

.box__text {
  position: absolute;
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;
}

.intro__boxes .box:hover .box__text {
  opacity: 1;
}

.box__text > h3,
.box__text > p {
  margin-bottom: 15px;
}

.box__arrow {
  font-size: 25px;
  transform: translateX(-10px);
  transition: all var(--animation-duration-fast) ease-in-out;
}

.intro__boxes .box:hover .box__arrow {
  transform: translateX(0px);
}

/* About */
#about {
  background-color: var(--color-light-gray);
}

.about {
  display: flex;
  justify-content: center;
  padding: 45px 0;
  background: url(/images/improve-business.jpg) no-repeat;
}

.about__empty {
  padding: 0 15px;
  min-width: 528px;
}

.about__text {
  max-width: 528px;
  margin-bottom: 30px;
  padding: 0 12px;
  color: var(--color-gray);
}

.about__text > h1,
.about__text > p {
  margin-bottom: 40px;
}

.about__text > h1 {
  font-size: var(--font-x-large);
}
